@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

h1,
h2 {
  color: $color-primary;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 17px;
}

.navbar-nav li {
  font-weight: 600;
  font-size: 14px;
}

.panel-margin {
  margin: 40px 0;
}

@media (min-width: $screen-sm-min) {
  .featurenav {
    overflow: auto;
    white-space: nowrap;

    .nav-justified {
      text-align: center; // This doesn't feel good, but looks good. :/

      > li {
        display: inline-block;
        width: auto;
      }
    }
  }
}

.image-title {
  background: url("/images/stock/ci.jpg");
  background-size: 100%;

  .color-bg {
    text-align: center;
    padding-top: 0;
    padding-bottom: 4%;
    height: 500px;
    width: 100%;
    margin-top: -1px;
    background-image: linear-gradient(to bottom, $color-primary 0%, rgba($color-primary, .85) 99%, rgba($color-primary, .79) 100%);

    h1 {
      position: relative;
      padding: 119px 0 3px;
      margin-top: 0;
      color: $color-white;
      font-size: 55px;
    }

    h3 {
      font-size: 32px;
      color: $color-gray-extra-light;
      line-height: 32px;
      padding-bottom: 10px;
      font-weight: 200;
    }

    div:nth-child(2) {
      padding-top: 2%;
      padding-bottom: 10px;
    }
  }

  .row:nth-child(2) {
    display: inline;
  }
}

.wrapper {
  min-height: 0;
  margin: 0 auto;
}

.sub-wrapper {
  padding: 50px 0;

  li {
    font-size: 17px;
  }

  .deprecated {
    padding: 125px 0 150px;

    li {
      font-size: 2em;
    }
  }
}

.gitlab-image {
  margin-top: 2%;
  padding-top: 2%;
  width: 270px;
  height: 270px;
  border-radius: 150px;
  background: url("/images/ci/main.png") no-repeat;
  background-position-x: -118px;
  background-position-y: -76px;
}

.gitlab-raccoon-dog-image {
  width: 59%;
  margin-top: 32px;
  margin-left: 23%;
}

.gitlab-ci-image {
  margin-top: 16%;
  width: 300px;
  height: 500px;
  border-radius: 150px;
  background: url("/images/ci/gitlab-ci.png") no-repeat;
  background-position-x: -415px;
  background-position-y: -205px;
}

.advantages div:first-child {
  margin-top: 3%;
}

.advantages div:nth-child(2) {
  margin-top: 30px;
}

.requirements .fa-linux {
  font-size: 12em;
  margin-top: 50%;
  border: 2px solid $color-primary;
  padding: 27px;
  border-radius: 17px;
  color: $color-primary;
}

.integration div:nth-child(2) {
  margin-top: 75px;
}

.links {
  padding-bottom: 30px;

  .fa-code {
    font-size: 4em;
    border: 2px solid $color-primary;
    padding: 27px;
    border-radius: 17px;
    color: $color-primary;
    margin-top: 33px;
  }

  div:nth-child(3) {
    padding-left: 66px;
  }
}

.divider {
  margin: auto;
  margin-top: 60px;
  width: 970px;
  border-color: $divider-color;
  border-width: 1px;
  max-width: 100%;
  margin-bottom: 40px;

  &.blank {
    border-width: 0;
  }
}

.installation .fa {
  font-size: 13em;
}

.gitlab-arch {
  margin-top: 9%;
}

.gitlab-ee-page {
  margin-bottom: -50px;

  .sub-wrapper {
    background-color: $color-white;
  }

  .image-title {
    background: url("/images/stock/ee-products-hero-image.jpg");
    background-size: cover;

    h1 {
      @media (max-width: $screen-xs-max) {
        padding-top: 55px;
      }
    }
  }

  .beta {
    border: 1px solid $color-white;
    border-radius: 3px;
    font-size: 13px;
    margin-left: 8px;
    padding: 4px 8px;
    position: relative;
    top: -10px;
  }

  .color-bg {
    height: 370px;
  }

  .geo-diagram {
    margin-top: 30px;
  }

  .documentation-link {
    margin-top: 15px;
    list-style: none;
  }

  .ee-feature-icon {
    text-align: center;
    margin-top: 50px;

    svg {
      height: 180px;
      width: 180px;
      fill: $color-secondary;
    }
  }

  .add-options-buttons {
    background-color: $color-white;
    padding-bottom: 50px;

    .container {
      border-top: 1px solid $landing-organization-color;
    }

    .customer-block {
      padding: 50px 0;

      .btn {
        min-width: 240px;
      }
    }
  }
}
